fastapi==0.110.0
uvicorn[standard]==0.29.0
sqlmodel==0.0.16
loguru==0.7.2
jinja2==3.1.3
pytest==8.1.1
httpx==0.27.0
python-multipart
pyjwt==2.9.0
python-dotenv==1.0.1
psycopg2-binary==2.9.9
itsdangerous==2.2.0
python-jose[cryptography]
passlib[bcrypt]
Pillow
sendgrid==6.11.0
agora-token-builder==1.0.0
stripe>=10.0.0
boto3==1.34.0
requests==2.31.0
